<h2>Create Page</h2>

<p>URL Created Successfully</p>

Title: <%= @link.title %> was added at: 
<a href="http://<%= @link.url %>" target=_blank><%= @link.url %></a><br />
Votes: TBD<br />
Comments: <br />